services:

  postgres:
    image: postgres:16
    container_name: searchaword-postgres
    environment:
      POSTGRES_DB: searchaword
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build: .
    container_name: searchaword-backend
    depends_on:
      - postgres
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/searchaword
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres
    ports:
      - "8080:8080"

  frontend:
    build:
      context: ../SEARCHAWORD-UI
      dockerfile: Dockerfile
    container_name: searchaword-frontend
    ports:
      - "4200:80"
    depends_on:
      - backend

volumes:
  pgdata: