spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 2
      idle-timeout: 30000
      max-lifetime: 600000
      connection-timeout: 30000

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: false
    open-in-view: false
    show-sql: false

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration
    validate-on-migrate: true

  servlet:
    multipart:
      max-file-size: 3MB
      max-request-size: 3MB

  security:
    user:
      name: ""
      password: ""

server:
  port: ${PORT:8080}
  error:
    include-message: always
    include-binding-errors: always

management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus

  endpoint:
    health:
      probes:
        enabled: true
    prometheus:
      enabled: true

  prometheus:
    metrics:
      export:
        enabled: true
        remote-write:
          enabled: true
          url: ${GRAFANA_REMOTE_WRITE_URL}
          username: ${GRAFANA_USERNAME}
          password: ${GRAFANA_API_TOKEN}

logging:
  level:
    root: INFO
    org.springframework.security: DEBUG
    org.hibernate.SQL: ERROR
    org.springframework.web: INFO